<div class="col-md-6 mb-2">
    <div class="row">
        <div class="col-3">
            <img [src]='product.imageFile' class="img-fluid" data-toggle="tooltip" data-placement="right"
                title="{{product.subCategory.subCategoryName}} - {{product.description}}">
        </div>
        <div class="col-9">
            {{product.description}}
        </div>
    </div>
</div>
<div class="col-md-2 mb-2 d-none d-md-flex">
    {{product.priceWithDiscount | currency:'RSD '}}
</div>
<div class="mx-2 mx-md-0 col-3 col-sm-2 col-md-1 mb-2">
    <input class="form-control" type="number" (change)='onChangeQuantity()' [(ngModel)]="product.quantity"
        min="1" max="{{product.stock}}">
</div>
<div class="col-7 col-sm-8 col-md-2 mb-2">
    {{(product.priceWithDiscount*product.quantity) | currency:'RSD '}}
</div>
<div class="col-1 col-md-1 mb-2">
    <h4 role="button" (click)='deleteProductFromCart(product.id)'><i class="fas fa-times-circle text-red"></i></h4>
</div>